datasets==3.1.0
flair==0.14.0
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.2
openai==1.60.2
pandas==2.2.3
presidio_analyzer==2.2.357
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.3.1
spacy==3.4.4
tensorflow==2.18.0
tensorflow_hub==0.16.1
tensorflow_intel==2.18.0
tiktoken==0.8.0
torch==2.2.2
tqdm==4.66.6
transformers==4.48.0
